/* CSS file */

/*------------------------------------------------------------------------------ Fonts */


Diagram
{
	borderSkin: ClassReference("diagrammer.skins.GridSkin");
}

BaseNode
{
	linkingGlowColor: #FFFFFF;
	labelFontFamily : 'Verdana';
	labelFontColor: #F0F0F0;
	labelFontSize: 12;
	labelFontWeight: regular;
}

Link
{
	template-bottom-line-color: #008080;
	tempalte-line-color: #F0F0FF;
	bottom-line-color: #2C2C54;
	line-color: #FFFFFF;	
	labelFontFamily : 'Verdana';
	labelFontColor: #1a1a1a;
	labelFontSize: 11;
	labelFontWeight: normal;
	lineThickness: 2;
}
